header{
    font-size: 40px;
}
footer{
  font-size: 15px;
  position: relative;
  height: 30px;
  align-content: center;
}
header,footer{
  background-color: blue;
  color: white;
  margin: 1px;
}

h1{
  font-size: 50px;
  padding: 20px;
}

