.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }

  .form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
  }

  input {
      margin: 0 0 15px;
      padding: 10px;
      font-size: 14px;
      width: 100%;
  }

  button{
      padding: 15px;
      width: 100%;
      font-size: 20px;
      text-transform: capitalize;
  }

  .errorMessage{
    color: red;
  }
