<div class="jumbotron">
  <h1 class="display-4">Admin Page</h1>
  <p class="lead">You are currently logged in as (user).</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/main" role="button">Return home</a>
</div>

<h3 style="margin-left: 50px;">Users</h3>
<div class="card" style="width: 18rem; margin-top: 50px; margin-left: 50px;">
  <div class="card-body">
    <h5 class="card-title">User Name1</h5>
    <h6 class="card-subtitle mb-2 text-muted">User Id</h6>
    <button type="button" href="/profile" class="btn btn-info btn-sm" style="margin-right: 20px;" data-toggle="tooltip" data-placement="top" title="To user profile">
      More info
    </button>
    <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete this user">
      Delete
    </button>
    
  </div>
</div>
<div class="card" style="width: 18rem; margin-top: 50px; margin-left: 50px;">
  <div class="card-body">
    <h5 class="card-title">User Name2</h5>
    <h6 class="card-subtitle mb-2 text-muted">User Id</h6>
    <button type="button" href="/profile" class="btn btn-info btn-sm" style="margin-right: 20px;" data-toggle="tooltip" data-placement="top" title="To user profile">
      More info
    </button>
    <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete this user">
      Delete
    </button>
    
  </div>
</div>

<div class="card" style="width: 18rem; margin-top: 50px; margin-left: 50px;">
  <div class="card-body">
    <h5 class="card-title">User Name3</h5>
    <h6 class="card-subtitle mb-2 text-muted">User Id</h6>
    <button type="button" href="/profile" class="btn btn-info btn-sm" style="margin-right: 20px;" data-toggle="tooltip" data-placement="top" title="To user profile">
      More info
    </button>
    <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete this user">
      Delete
    </button>
    
  </div>
</div>

<div class="card" style="width: 18rem; margin-top: 50px; margin-left: 50px;">
  <div class="card-body">
    <h5 class="card-title">User Name4</h5>
    <h6 class="card-subtitle mb-2 text-muted">User Id</h6>
    <button type="button" href="/profile" class="btn btn-info btn-sm" style="margin-right: 20px;" data-toggle="tooltip" data-placement="top" title="To user profile">
      More info
    </button>
    <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete this user">
      Delete
    </button>
    
  </div>
</div>

 